@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

html {
	font-family: 'IBM Plex Mono', monospace;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

button {
	font-family: 'IBM Plex Mono', monospace;
	border: 2px solid rgba(102, 103, 171, 255);
	background-color: rgb(255, 255, 255);
	cursor: pointer;
	min-width: min-content;
	white-space: nowrap;
}

button:hover {
	font-style: italic;
	text-decoration: underline;
}

button:active {
	background-color: thistle;
	color: white;
}

a {
	color: black;
}

a:visited {
	color: black;
}

a:hover {
	background-color: black;
	color: white;
}

input {
	font-family: 'IBM Plex Mono', monospace;
	border-radius: 0;
	border: 1px solid grey;
}

textarea,
input {
	outline: 0;
	font-family: 'IBM Plex Mono', monospace;
}
input:active,
input:focus,
textarea:active,
textarea:focus {
	border: 2px solid rgb(102, 103, 171);
}

pre {
	overflow: auto;
}
